.detail-container {
  width: 85%;
  background: red;
  margin-top: 42px;
  margin-left: auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-bottom: 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 48, 48, 1) 0%, #252525 100%);
  box-shadow: 10px 10px 12px 1px rgba(23, 23, 23, 0.83);
}
.detail-container p {
  font-family: 'Raleway';
  font-size: 18px;
}
.detail-container h2,
h3 {
  font-size: 32px;
  color: white;
}
.detail-img-container {
  width: 44%;
  height: 350px;
}
.detail-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 12px 1px rgba(23, 23, 23, 0.83);
}

.detail-data {
  text-align: left;

  width: 45%;
}
.detail-data h2 {
  margin-top: 0px;
}

.detail-genre {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(48, 48, 48, 1) 0%, #252525 100%);
  border: 1px solid white;
  margin-left: 12px;
  padding: 3px 10px 3px 10px;
}

.detail-description {
  width: 92%;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}
.detail-headline {
  font-family: 'Montserrat';
  font-weight: 600;
}

.detail-button {
  width: 120px;
  display: block;
  text-align: center;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(51, 51, 51);
  margin-bottom: 40px;
  box-shadow: 10px 10px 12px 1px rgba(23, 23, 23, 0.83);
  font-family: 'Raleway';
  border-radius: 15px;
  border: hidden;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(90deg, rgb(58, 58, 58) 0%, #323232 100%);
}

.detail-button:hover {
  background: linear-gradient(90deg, rgb(34, 34, 34) 0%, #232121 100%);
  color: white;
}
.button-container {
  //border: 1px solid white;
  width: 92%;
}
.detail-container a:link {
  text-decoration: inherit;
  color: inherit;
}
.detail-container a:visited {
  text-decoration: inherit;
  color: inherit;
}
.detail-spinner {
  margin-top: 40vh;
}
